{%extends _layout%}

{%block content%}
<section id="une">
    <h3>La premier titre</h3>
    {{img('smarthphone.jpg')}}
    <article>
        lorem ipsume et dolorem. L'image est juste là pour tester
    </article>
</section>
<section class="sous-rubrique">
    <h4>
        Le deuxième titre
    </h4>
    <article>
        Il est moin simportant et ne comporte pas d'image
    </article>
</section>
{%endblock%}
