{%extends _layout%}

{%block nav%}{%endblock%}

{%block content%}
<p>La page d'accueil du site. A voir comment on la fait. Comme une "une" de journal?</p>
<p>{{anchor('rubrique/index', 'Entrer dans le site')}}</p>
{%endblock%}
{%block aside%}{%endblock%}
{%block footer%}{%endblock%}
