{%extends "admin/template/index.html.twig"%}
{%block admin_links%}
<ul>
    <li>{{anchor('rubrique/admin', 'Gestion des rubriques et sous rubriques')}}</li>
    <li>{{anchor('role/index', 'Gestion des roles')}}</li>
</ul>
{%endblock%}
